@import '/src/assets/scss/utils.scss';

.blwf-skeleton-layout {
  &.loading {
    .title {
      width: 50px;
      margin-bottom: 10px;
    }
    .main-banner {
      width: 100%;
      margin-bottom: 10px;
    }
    .sub-banner {
      width: 50%;
      margin-bottom: 10px;
    }

    .avatar {
      border-radius: 100%;
      width: 150px;
      height: 150px;
    }
  }
}
