@import '/src/assets/scss/utils.scss';

.alert-layout-wrapper {
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 3px;

  .alert-item {
    width: 100%;
    transition: opacity 1s;
    animation: 2s ease 3.5s 1 forwards fadeOut;
    opacity: 1;

    &.success {
      .alert-item-inner {
        background-color: rgba(46, 63, 216, 0.8);
      }
    }
    &.err {
      .alert-item-inner {
        background-color: rgba(216, 46, 46, 0.8);
      }
    }

    &.warn {
      .alert-item-inner {
        background-color: rgba(216, 108, 46, 0.8);
      }
    }

    .alert-item-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 40px;
      padding: 3px 10px;
      background-color: #333333;
      color: #ffffff;
      border-radius: 3px;

      .alert-msg {
        font-size: 12px;
        font-weight: bold;
        white-space: nowrap;
      }

      .alert-dlt {
        font-size: 12px;
        cursor: pointer;
      }
    }
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
