@import '/src/assets/scss/utils.scss';

.blwf-collapse-layout {
  width: 500px;

  .collapse-inner {
    .collapse-item {
      margin-bottom: 10px;

      .head-wrappper {
        .collapse-head {
          align-items: center;
          justify-content: space-between;
          display: flex;
          cursor: pointer;
          font-size: 13px;
          height: 45px;
          background-color: #f1f1f1;
          padding: 0 15px;
        }
      }

      .body-wrappper {
        opacity: 0;
        height: 0;
        padding: 0 15px;
        background-color: #fafafa;
        font-size: 12px;
        transition: all 0.2s;
        overflow: hidden;

        &.active {
          padding: 10px 15px;
          opacity: 1;
          height: auto;
        }
      }
    }
  }
}
