@import '/src/assets/scss/utils.scss';

.blwf-tree-layout-wrapper {
  .tree-item-wrapper {
    width: 200px;
    border-top: 2px solid #6664f0;
    overflow: overlay;

    .tree-content {
    }

    .tree-item {
      @include flex(space-between, center);
      padding: 0 10px;
      height: 35px;
      border-bottom: 1px solid #f1f1f1;
      border-right: 1px solid #f1f1f1;
      border-left: 1px solid #f1f1f1;

      &.exist-children {
        cursor: pointer;
      }

      &.expanded {
        .name-arrow-box {
          .item-arrow {
            transform: rotate(90deg);
          }
        }
      }

      .name-arrow-box {
        @include flex(flex-start, center);
        @include ellipsis;

        .item-arrow {
          background: url('/assets/img/arrow.png') no-repeat center center;
          min-width: 10px;
          min-height: 35px;
          background-size: contain;
          margin-right: 3px;
        }

        .name {
          @include ellipsis;
          font-size: 11px;
          font-weight: bold;
        }
      }

      .id {
        padding-left: 10px;
        font-size: 11px;
        font-weight: bold;
      }
    }
  }
}
